*{
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: mediumslateblue;
}

h1{
    font-size: 200px;
    font-weight: 900;
    background-image: url(https://images.unsplash.com/photo-1541701494587-cb58502866ab?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: center;

/* style aply for transparent image inside text. */
    -webkit-background-clip: text;
    color: transparent;
}